<div class="p-4 border border-gray-300 rounded-lg">
    <h2 mat-dialog-title>Finish Workout</h2>
    <mat-dialog-content> {{ data.message }} <br> Do you want to finish your Workout?</mat-dialog-content>
    <mat-dialog-actions>
        <div class="flex justify-end space-x-2">
            <!-- Update/Add Button -->
            <button mat-raised-button color="primary" [mat-dialog-close]="true">
              <mat-icon>done</mat-icon>Yes
            </button>
      
            <!-- Cancel Button -->
            <button color="warn" mat-raised-button type="button" [mat-dialog-close]="false" >
              Cancel
            </button>
          </div>
    <!--<button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
    <button mat-button color="primary" [mat-dialog-close]="true">Yes</button>-->
    </mat-dialog-actions>
</div>