<div>
  <form [formGroup]="workoutPlanForm" (ngSubmit)="isEditing && workoutPlanForm ? updateWorkoutPlan() : addWorkoutPlan()">
    
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput type="text" id="name" formControlName="name" placeholder="Workout Plan Name">
      <mat-error *ngIf="workoutPlanForm.get('name')?.errors?.['required'] && workoutPlanForm.get('name')?.touched">
        Name is required.
      </mat-error>
    </mat-form-field>

    <ng-container formArrayName="exercises">
      <div *ngFor="let exerciseControl of exercisesfromarray.controls; let i = index" [formGroupName]="i">

        <mat-checkbox [formControlName]="'selected'">
          {{exerciseControl.value.name}}
        </mat-checkbox>

      </div>
    </ng-container>

    <button mat-raised-button color="primary" type="submit">{{ isEditing ? 'Update' : 'Add' }} <mat-icon>done</mat-icon></button>
    <button *ngIf="isEditing" mat-raised-button color="warn" type="button" (click)="deleteWorkoutPlan()"><mat-icon>delete</mat-icon> Delete</button>
  </form>
</div>