/* Tailwind CSS Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root {
    --primary-color: #8b0000; /* Dark red */
    --accent-color: #ffc107; /* Amber */
  }
  
  .custom-background {
    background-color: var(--primary-color);
  }
  
  .custom-color {
    color: var(--accent-color);
  }


  .custom-primary-button {
    background-color: var(--primary-color);
    color: white; /* or any color that contrasts well with your primary color */
}

    .custom-primary-button:hover {
    /* Slightly darker or lighter for hover effect */
    background-color: darken(var(--primary-color), 5%);
}


.mat-raised-button.custom-primary-button, .mat-button.custom-primary-button {
    background-color: var(--primary-color);
    color: white; /* Adjust if needed */
}

.mat-raised-button.custom-primary-button:hover, .mat-button.custom-primary-button:hover {
    background-color: darken(var(--primary-color), 5%); /* Slightly darker on hover */
}

  