@use '@angular/material' as mat;
/* Tailwind CSS Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root {
    --primary-color: #212121;
  }
  
  .custom-background {
    background-color: var(--primary-color);
  }
  
  .button-like {
    @apply flex justify-center items-center w-1/2 mx-auto py-2.5 bg-black text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-gray-700 hover:shadow-lg focus:bg-white focus:text-black active:bg-white active:text-black transition duration-150 ease-in-out;
  } 

  .button-like-mini {
    @apply flex justify-center items-center w-3/4 mx-auto py-3 bg-black text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-gray-700 hover:shadow-lg focus:bg-white focus:text-black active:bg-white active:text-black transition duration-150 ease-in-out;
  }

  .button-like-horizontal {
    @apply flex justify-center items-center w-1/2 py-2.5 bg-black text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-gray-700 hover:shadow-lg focus:bg-white focus:text-black active:bg-white active:text-black transition duration-150 ease-in-out;
  }

  .label-style {
    @apply block text-gray-700 text-sm font-bold mb-2;
  }

  
 

  

// Define black and white palettes
$my-black: mat.define-palette(mat.$grey-palette, 900); // Black
$my-white: mat.define-palette(mat.$grey-palette, 50); // White
$tailwind-black: #000000;

// Optionally, you can define a grey palette for the warn color
$my-warn: mat.define-palette(mat.$grey-palette, 500); // Grey for warnings

// Define the theme
$my-theme: mat.define-light-theme((
  color: (
    primary: $my-black,
    accent: $my-white,
    warn: $my-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

// Include the theme
@include mat.all-component-themes($my-theme);
