<div class="container">
  <mat-form-field appearance="fill">
    <mat-label>Select a Workout Plan</mat-label>
    <mat-select [(value)]="selectedWorkoutPlanId" (selectionChange)="onWorkoutPlanSelected()">
      <mat-option *ngFor="let plan of workoutPlans" [value]="plan.id">{{plan.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="chart-section">
    <mat-form-field appearance="fill">
      <mat-label>Select an Exercise</mat-label>
      <mat-select [(value)]="selectedExerciseId" (selectionChange)="onExerciseSelected()">
        <mat-option *ngFor="let exercise of allExercises" [value]="exercise.id">{{exercise.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    
    <div class="charts-container">
      <div class="chart" *ngIf="lineChartWeightData[0].data.length">
        <canvas baseChart
                [datasets]="lineChartWeightData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions">
        </canvas>
      </div>
      <div class="chart" *ngIf="lineChartRepsData[0].data.length">
        <canvas baseChart
                [datasets]="lineChartRepsData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions">
        </canvas>
      </div>
      <div class="chart" *ngIf="lineChartSetsData[0].data.length">
        <canvas baseChart
                [datasets]="lineChartSetsData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions">
        </canvas>
      </div>
    </div>
  </div>

  <div class="accordion-section">
    <mat-accordion multi>
      <mat-expansion-panel *ngFor="let workout of workouts">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Workout on {{workout.date}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let exerciseLog of exerciseLogs[workout.id]">
          <ng-container *ngIf="findExercise(exerciseLog.exercise)">
            <mat-card>
              <mat-card-title>{{ findExercise(exerciseLog.exercise)?.name }}</mat-card-title>
              <mat-card-content>
                <p>Default Sets: {{ findExercise(exerciseLog.exercise)?.default_sets }}</p>
                <p>Default Reps: {{ findExercise(exerciseLog.exercise)?.default_reps }}</p>
                <p>Default Weight: {{ findExercise(exerciseLog.exercise)?.default_weight }}</p>
                <p>Sets: {{exerciseLog.sets}}</p>
                <p>Reps: {{exerciseLog.reps}}</p>
                <p>Weight: {{exerciseLog.weight}}</p>
              </mat-card-content>
            </mat-card>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

</div>
