<div>
    <form [formGroup]="exerciseForm" (ngSubmit)="isEditing && exerciseForm ? updateExercise() : addExercise()">

      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name">
      </div>
      <div>
        <label for="default_weight">Default Weight:</label>
        <input type="text" id="default_weight" formControlName="default_weight">
      </div>
      <div>
        <label for="default_sets">Default Sets:</label>
        <input type="number" id="default_sets" formControlName="default_sets">
      </div>
      <div>
        <label for="default_reps">Default Reps:</label>
        <input type="number" id="default_reps" formControlName="default_reps">
      </div>
      <button type="submit">{{ isEditing ? 'Update' : 'Add' }} Exercise</button>
      <button *ngIf="isEditing" type="button" (click)="deleteExercise()">Delete Exercise</button>
    </form>
  </div>
  
