@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

.icon-display {
    transform: scale(1.5);
 }

 .carousel .slide img {
   width: 100%;
   height: 30vh;
   object-fit: cover;
}

.desktop-carousel .slide img {
   height: 50vh;
   object-fit: cover;
}

.carousel .slide {
   position: relative;
}

.slide-caption {
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 100%;
   color: white;
   padding: 20px 20px 10px;
   text-align: center;
   font-size: 18px;
   font-weight: bold;
   font-family: 'PT Mono', monospace;
   background: linear-gradient(to bottom, 
                              rgba(0, 0, 0, 0.0) 0%, 
                              rgba(0, 0, 0, 0.1) 5%, 
                              rgba(0, 0, 0, 0.4) 15%, 
                              rgba(0, 0, 0, 0.5) 30%,
                              rgba(0, 0, 0, 0.6) 40%,
                              rgba(0, 0, 0, 0.7) 50%,
                              rgba(0, 0, 0, 0.8) 60%,
                              rgba(0, 0, 0, 0.9) 85%,
                              rgba(0, 0, 0, 1.0) 100%); 
}

@media (max-width: 600px) {
   .slide-caption {
       font-size: 16px;
       padding: 20px 20px 10px 10px;
   }
}

@media (min-width: 601px) and (max-width: 1024px) {
   .slide-caption {
       font-size: 25px;
       padding: 30px 30px 15px 15px;
   }
}

@media (min-width: 1025px) {
   .slide-caption {
       font-size: 35px;
       padding: 50px 50px 25px 25px;
   }
}


body {
   margin: 0;
   overflow: hidden;
}

mat-toolbar {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1000;
}

.mat-sidenav-content {
   padding-top: 60px;
}