<body>
<mat-toolbar class="py-2 md:py-4 px-4 md:px-6 z-50 bg-gray-100 flex justify-between items-center">
    <!-- Mobile Burger Menu Button -->
    <button mat-icon-button (click)="sidenav.toggle()" *ngIf="isMobile && isLoggedIn" class="md:hidden">
        <mat-icon class="icon-display">menu</mat-icon>
    </button>
    <div *ngIf="!(isMobile && isLoggedIn)" style="width: 48px;" ></div>

    <!-- Title and Authentication -->
    <!-- Title -->
    <h1 class="text-lg md:text-xl font-bold">Gym Tracker</h1>

    <!-- Authentication Area -->
    <div class="flex items-center space-x-4">
        <button mat-button *ngIf="!isLoggedIn" (click)="login()">Sign In</button>
        <div *ngIf="isLoggedIn">
            <button mat-icon-button [matMenuTriggerFor]="userMenu" class="pr-2">
                <mat-icon class="icon-display">account_circle</mat-icon>
            </button>
            <mat-menu #userMenu="matMenu">
                <button mat-menu-item routerLink="/contact">Account</button>
                <button mat-menu-item (click)="logout()">Log Out</button>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>

<mat-sidenav-container class="flex flex-col h-screen">
    <!-- Mobile Navigation Sidenav -->
    <mat-sidenav #sidenav mode="over" *ngIf="isMobile && isLoggedIn" class="bg-gray-100 w-48 z-10">
        <!-- Mobile navigation links -->
        <div><a mat-button routerLink="/exercises" class="block my-2" (click)="toggleSidenav()">Exercises</a></div>
        <div><a mat-button routerLink="/workout-plan" class="block my-2" (click)="toggleSidenav()">Workouts</a></div>
        <div><a mat-button routerLink="/workout-display" class="block my-2" (click)="toggleSidenav()">Progress</a></div>
    </mat-sidenav>

    <!-- Desktop Top Navigation Links -->
    <nav *ngIf="!isMobile && isLoggedIn" class="fixed top-14 left-0 right-0 z-10 md:flex justify-around bg-gray-100 p-4">
        <a mat-button routerLink="/exercises" routerLinkActive="active">Exercises</a>
        <a mat-button routerLink="/workout-plan" routerLinkActive="active">Workouts</a>
        <a mat-button routerLink="/workout-display" routerLinkActive="active">Progress</a>
    </nav>

    <div class="w-full" >
        <ngx-slick-carousel [class.desktop-carousel]="!isMobile" class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let img of images" class="slide">
            <img [src]="img.url" alt="{{img.alt}}">
            </div>
        </ngx-slick-carousel>
    </div>

    <!-- Main Content Area -->
    <div class="flex flex-col h-screen">
        <div class="flex flex-grow">
            <div class="flex-grow p-4 mx-auto max-w-5xl">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</mat-sidenav-container>
</body>