.icon-display {
    transform: scale(1.5);
 }

.carousel .slide img {
   width: 100%;
   height: auto; /* This maintains the aspect ratio */
}

.desktop-carousel .slide img {
   height: 400px; /* Adjust for desktop */
   object-fit: cover; /* Ensures image covers the area */
}

body {
   margin: 0;
   overflow: hidden;
}

mat-toolbar {
   position: fixed; /* Fixes the toolbar at the top of the page */
   top: 0; /* Positions the toolbar at the very top */
   left: 0;
   right: 0;
   z-index: 1000; /* High z-index to ensure it stays on top */
}