
<mat-toolbar>
    <h1>Fitness Tracker</h1>
    <span class="flex-spacer"></span>
    <button mat-button *ngIf="!isLoggedIn" (click)="login()">Sign In</button>
    <button mat-button *ngIf="isLoggedIn" (click)="logout()">Sign Out</button>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
    </mat-sidenav>
  
    <mat-sidenav-content>
        <div class="navigation-links">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center">
                <a mat-button routerLink="/public" routerLinkActive="active">Public</a>
                <a mat-button routerLink="/exercises" routerLinkActive="active">Exercises</a>
                <a mat-button routerLink="/workout-plan" routerLinkActive="active">Workout-Plan</a>
                <a mat-button routerLink="/workout" routerLinkActive="active">Workout</a>
                <a mat-button routerLink="/workout-display" routerLinkActive="active">Workout-Display</a>
            </div>
        </div>
        <div class="content-wrapper">
                <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>