<mat-toolbar class="py-2 md:py-4 bg-gray-200">
    <!-- Header Image -->
    <div class="w-full">
        <img src="assets/fitnesstrackerheaderv2.jpg" alt="Fitness Tracker" class="w-full h-auto object-cover">
    </div>

    <!-- Title and Buttons Row -->
    <div class="flex items-center justify-between p-4">
        <!-- Title -->
        <h1 class="text-lg md:text-xl font-bold">Fitness Tracker</h1>

        <!-- Authentication Buttons -->
        <div>
            <button mat-button *ngIf="!isLoggedIn" (click)="login()" class="mr-2">Sign In</button>
            <button mat-button *ngIf="isLoggedIn" (click)="logout()">Sign Out</button>
        </div>
    </div>
</mat-toolbar>

<mat-sidenav-container class="flex flex-col h-screen">
    <!-- Top Navigation Links -->
    <nav class="flex justify-around bg-gray-100 p-4">
        <!--<a mat-button routerLink="/public" routerLinkActive="active" class="hover:text-blue-600">Public</a>-->
        <a mat-button routerLink="/exercises" routerLinkActive="active" >Exercises</a>
        <a mat-button routerLink="/workout-plan" routerLinkActive="active" >Workout-Plan</a>
        <a mat-button routerLink="/workout" routerLinkActive="active" >Workout</a>
        <a mat-button routerLink="/workout-display" routerLinkActive="active" >Workout-Display</a>
    </nav>

    <!-- Main Content Area -->
    <div class="flex flex-col h-screen">
        <div class="flex flex-grow">
            <!-- Left Image -->
             <!-- <div class="hidden md:block md:w-1/12">
                <img src="assets/genericside4.png" alt="Left Image" class="w-full h-auto object-cover">
            </div>-->
            <div class="hidden md:block md:w-1/12 custom-background">
                <!-- Your content here -->
            </div>
    
            <!-- Main Content Area -->
            <div class="flex-grow p-4 mx-auto max-w-5xl">
                <router-outlet></router-outlet>
            </div>
    
            <!-- Right Image assets/gymgirlside.jpg -->
            <!--<div class="hidden md:block md:w-1/12">
                <img src="assets/genericside3.png" alt="Right Image" class="w-full h-auto object-cover">
            </div>-->
            <div class="hidden md:block md:w-1/12 custom-background">
                <!-- Your content here -->
            </div>
    

        </div>
    </div>
</mat-sidenav-container>
