<div class="flex flex-col space-y-4 my-4 mx-auto max-w-7xl">
  <div class="flex justify-center">
    <button mat-raised-button color="primary" (click)="openDialog()" class="bg-primary text-white py-2 px-4 rounded hover:bg-primary-dark"><mat-icon>add_circle</mat-icon>Add Exercise</button>
  </div>
  <div class="overflow-x-auto shadow-md rounded-lg">
    <table mat-table [dataSource]="exercises" class="mat-elevation-z8">

       <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> 
          <div class="text-center">
            Exercises
          </div>
        </th>
        <td mat-cell *matCellDef="let element" (click)="openDialog(element)" class="text-center" style="cursor: pointer;" [ngStyle]="{'border': 'none'}">
          <div class="center button-like">
            <mat-icon class="text-sm ml-2">edit</mat-icon> {{ element.name }}
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" 
      [ngStyle]="{'border-top-left-radius': '10px', 'border-top-right-radius': '10px', 'border': 'none'}">
      </tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
