<div class="responsive-table">
  <button mat-raised-button color="primary" (click)="openDialog()">Add Exercise</button>
  <table mat-table [dataSource]="exercises" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="default_weight">
      <th mat-header-cell *matHeaderCellDef> Default Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.default_weight}} </td>
    </ng-container>

    <ng-container matColumnDef="default_sets">
      <th mat-header-cell *matHeaderCellDef> Default Sets </th>
      <td mat-cell *matCellDef="let element"> {{element.default_sets}} </td>
    </ng-container>

    <ng-container matColumnDef="default_reps">
      <th mat-header-cell *matHeaderCellDef> Default Reps </th>
      <td mat-cell *matCellDef="let element"> {{element.default_reps}} </td>
    </ng-container>

    <!-- Other columns... -->

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="accent" (click)="openDialog(element)">Edit</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
