<div>
    <button (click)="openDialog()">Add Workout Plan</button>
  
    <!-- Add a table or list to display workout plans -->
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <!-- Other headers if needed -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let workoutPlan of workoutPlans">
          <td>{{ workoutPlan.id }}</td>
          <td>{{ workoutPlan.name }}</td>
          <!-- Other data -->
          <td>
            <button (click)="openDialog(workoutPlan)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>