<div>
  <div class="flex justify-center">
    Workout Plans:
  </div>
  <table mat-table [dataSource]="workoutPlans">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> 
        <div class="text-center">
          
          <div class="flex justify-center">
            <button mat-raised-button color="primary" (click)="openDialog()"><mat-icon>add_circle</mat-icon>Add Workout Plan</button>
          </div>
        </div>
      </th>
      <td mat-cell *matCellDef="let element" (click)="openDialog(element)" class="text-center" style="cursor: pointer;" [ngStyle]="{'border': 'none'}">
        <div class="center button-like">
          <mat-icon class="text-sm ml-2">edit</mat-icon> {{ element.name }}
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" 
    [ngStyle]="{'border-top-left-radius': '10px', 'border-top-right-radius': '10px', 'border': 'none'}">
    </tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>