<div fxLayout="row" fxLayoutGap="10px">
  <mat-form-field fxFlex="33%" appearance="fill">
    <mat-label>Select Workout Plan</mat-label>
    <mat-select [(ngModel)]="selectedWorkoutPlanId" (selectionChange)="onWorkoutPlanSelected()">
      <mat-option *ngFor="let plan of workoutPlans" [value]="plan.id">{{ plan.name }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

  <form [formGroup]="workoutForm" (ngSubmit)="submitWorkout()" fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field fxFlex="33%" appearance="fill">
      <mat-label>Date</mat-label>
      <input matInput formControlName="date" type="date">
    </mat-form-field>
  </div>
  <mat-accordion multi="true" formArrayName="exercises" fxLayout="column" fxLayoutGap="10px">
    <mat-expansion-panel *ngFor="let exerciseGroup of exerciseControls; let i = index" [formGroupName]="i">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ exerciseGroup.get('name')?.value }}
        </mat-panel-title>
      </mat-expansion-panel-header>
        <mat-card-content >
          <h4>{{ exerciseGroup.get('name')?.value }}</h4>
          
          <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
            <p fxFlex="33%">Default Sets: {{ exerciseGroup.get('defaultSets')?.value }}</p>
            <p fxFlex="33%">Default Reps: {{ exerciseGroup.get('defaultReps')?.value }}</p>
            <p fxFlex="33%">Default Weight: {{ exerciseGroup.get('defaultWeight')?.value }}</p>
          </div>
        </mat-card-content>
          <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
            <mat-form-field fxFlex="33%" appearance="fill">
              <mat-label>Sets</mat-label>
              <input matInput formControlName="sets" type="number">
            </mat-form-field>
            
            <mat-form-field fxFlex="33%" appearance="fill">
              <mat-label>Reps</mat-label>
              <input matInput formControlName="reps" type="number">
            </mat-form-field>

            <mat-form-field fxFlex="33%" appearance="fill">
              <mat-label>Weight</mat-label>
              <input matInput formControlName="weight" type="number">
            </mat-form-field>
          </div>
        </mat-expansion-panel>
      </mat-accordion>


  <button mat-raised-button type="submit">Log Workout</button>
</form>