<div class="flex row gap-2.5">
  <div class="flex-1">
    <label class="block text-gray-700 text-sm font-bold mb-2">Select Workout Plan</label>
    <select class="shadow border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" [(ngModel)]="selectedWorkoutPlanId" (change)="onWorkoutPlanSelected()">
      <option *ngFor="let plan of workoutPlans" [value]="plan.id">{{ plan.name }}</option>
    </select>
  </div>
</div>

<form [formGroup]="workoutForm" (ngSubmit)="submitWorkout()" class="flex flex-col gap-2.5">
  <div class="flex row gap-2.5">
    <div class="flex-1">
      <label class="block text-gray-700 text-sm font-bold mb-2">Date</label>
      <input class="shadow border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" formControlName="date" type="date">
    </div>
  </div>

  <div class="accordion flex flex-col gap-2.5" formArrayName="exercises">
    <div *ngFor="let exerciseGroup of exerciseControls; let i = index" [formGroupName]="i" class="expansion-panel">
      <!-- Panel header -->
      <div class="panel-header">
        <div class="text-sm ml-2">{{ exerciseGroup.get('name')?.value }}</div>
      </div>
      <!-- Panel content -->
      <div class="card-content flex row gap-5 items-center">
        <!-- Use default values as placeholders -->
        <div class="flex-1">
          <label class="block text-gray-700 text-sm font-bold mb-1">Weight</label>
          <input class="shadow border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" formControlName="weight" type="number" placeholder="Weight (Default: {{ exerciseGroup.get('defaultWeight')?.value }})">
        </div>
        <div class="flex-1">
          <label class="block text-gray-700 text-sm font-bold mb-1">Sets</label>
          <input class="shadow border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" formControlName="sets" type="number" placeholder="Sets (Default: {{ exerciseGroup.get('defaultSets')?.value }})">
        </div>
        <div class="flex-1">
          <label class="block text-gray-700 text-sm font-bold mb-1">Reps</label>
          <input class="shadow border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" formControlName="reps" type="number" placeholder="Reps (Default: {{ exerciseGroup.get('defaultReps')?.value }})">
        </div>
      </div>
    </div>
  </div>

  <button class="button-like" type="submit">Log Workout</button>
</form>