<div class="p-4 border border-gray-300 rounded-lg">
  <form [formGroup]="exerciseForm" (ngSubmit)="isEditing && exerciseForm ? updateExercise() : addExercise()">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="exerciseForm.get('name')?.errors?.['required'] && exerciseForm.get('name')?.touched">
        Name is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Default Weight</mat-label>
      <input matInput formControlName="default_weight">
    </mat-form-field>

    <mat-checkbox formControlName="timer_active">Use Timer</mat-checkbox>

    <ng-container *ngIf="exerciseForm.get('timer_active')?.value">
      <mat-form-field appearance="fill">
        <mat-label>Time (seconds)</mat-label>
        <input matInput type="number" formControlName="time">
        <mat-error *ngIf="exerciseForm.get('time')?.errors?.['required']">
          Time is required.
        </mat-error>
        <mat-error *ngIf="exerciseForm.get('time')?.errors?.['min']">
          Time cannot be negative.
        </mat-error>
      </mat-form-field>
    </ng-container>

    <ng-container *ngIf="!exerciseForm.get('timer_active')?.value">
      <mat-form-field appearance="fill">
        <mat-label>Default Sets</mat-label>
        <input matInput type="number" formControlName="default_sets">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Default Reps</mat-label>
        <input matInput type="number" formControlName="default_reps">
      </mat-form-field>
    </ng-container>

    <!-- Comments Field -->
    <mat-form-field appearance="fill">
      <mat-label>Comments</mat-label>
      <textarea matInput formControlName="comments"></textarea>
    </mat-form-field>

    <!-- Action Buttons -->
    <div class="flex justify-end space-x-2">
      <!-- Update/Add Button -->
      <button mat-raised-button color="primary" type="submit">
        {{ isEditing ? 'Update' : 'Add' }} <mat-icon>done</mat-icon>
      </button>

      <!-- Delete Button -->
      <button *ngIf="isEditing" color="warn" mat-raised-button type="button" (click)="deleteExercise()" >
        <mat-icon>delete</mat-icon> Delete
      </button>
    </div>
  </form>
</div>